<script>

handleRate(){
  let showModal=true;
}
</script>

<section>
  <h1>
    How did we do?
  </h1>

  <p>
    Please let us know how we did with your support request. All feedback is appreciated 
    to help us improve our offering!
  </p>
  

  <button>
1
  </button>
  <button>
    2
  </button>
  <button>
    3
  </button>
  <button>
    4
  </button>
  <button>
    5
  </button>


  <button>
    Submit
  </button>

</section>

<style>
  section{
    background-color: black;
    color:white;
  }
</style>